html, body {
    height: 100%;
    padding: 0;
    margin: 0;
    background-color: #FCFCFC;
    font-family: Arial;
}

.auth-block{
    font-size: 25px;
    text-align: center;
    width: 300px;
    height: 150px;

    position: absolute;
    top:0;
    bottom: 0;
    left: 0;
    right: 0;

    margin: auto;
}

.auth-title {
    color: #232323;
    font-size: 30px;
    padding-top: 5px;
}

.auth-fields {
    padding: 5px;
}

.auth-fields input {
    width: 200px;
    height: 20px;
    font-size: 15px;

}

.auth-button input {
    color: #edf4f8;
    height: 30px;
    font-size: 20px;
    width: 100px;
    background-image: url("/resourse/image/header-menu-bg.png");
    border-width: 0;
    border-radius: 2px;
}

.auth-button input:hover {
    background-image: url("/resourse/image/header-menu-bg-hover.png");
}

div.page {

}

.header-menu {
    position: fixed; 
    background-image: url("/resourse/image/header-menu-bg.png");
    height: 45px;
    width: 100%;
    background-color: #FFF;
    z-index: 999;
}

.menu-element {
    color: #FFF;
    font-size: 18px;
    text-align:center;
    display: inline-block; 
    height:45px;
    padding: 0px 10px 0px 10px;
}

.menu-element-label {
    display: inline-block; 
    height: 45px;
    line-height: 45px;
}

.menu-element-icon {
    display: inline-block;
    width: 25px;
    height: 28px;
    vertical-align: middle;
}

.menu-button {
    cursor: pointer;
}

.menu-button:hover {
    background-image: url("/resourse/image/header-menu-bg-hover.png");
}

.logout-button {
    float:right;
}

.logout-button .menu-element-icon {
    background-image: url("/resourse/image/header-menu-logout-icon.png");
    background-repeat: no-repeat;
}

.menu-username {
    float:right;
}

.select-list {
    margin: 0px;
    list-style: none;

}

.select-list:hover ul {
    display: block;
}

.select-list ul {
    float:left;
    display: none;
    position: absolute;
    background: #FFF;
    list-style: none;
    margin: -2px 0px 0px -12px;
    padding: 0px 0px 0px 0px;
    -webkit-box-shadow: 2px 2px 3px 0px rgba(50, 50, 50, 0.33);
    -moz-box-shadow:    2px 2px 3px 0px rgba(50, 50, 50, 0.33);
    box-shadow:         2px 2px 3px 0px rgba(50, 50, 50, 0.33);
    z-index: 100;
}

.select-list ul li {
    height: 38px;
    border-bottom: 1px solid #e8e8e8;
    padding: 0px 10px 0px 12px;
    
}

.select-list ul li:hover {
    color: #edf4f8;
    background: #e73636;
}

.select-list ul div {   
    font-size: 20px;
    color: #232323; 
    float:left;
    display: inline-block;
    line-height: 38px
}

.select-list ul li:hover div {
    color: #FFF;
}

.select-list .menu-element-icon {
    background-image: url("/resourse/image/header-menu-menu-icon.png");
    background-repeat: no-repeat;
}

.content-area {
    padding-top: 50px;
}

.dir-table {
  
}

.dir-table-header {
    font-size: 18px; 
    background: #efefef;
    color: #232323;  
}

.dir-table-header td{
    padding: 5px;
    border-bottom: 1px solid #edf4f8;
    width: 200px;
    white-space: nowrap;
}

.dir-table-row td{
    padding: 10px;
    border-bottom: 1px solid #edf4f8;
}

.dir-table-row{
    cursor: pointer;
}

.dir-table-row:hover{
    background: #efefef;
    color: #232323;    
}

.item-attr{
    font-size: 18px; 
    padding: 15px 10px 15px 20px;
}

.item-attr-label{
    word-wrap: break-word;
    width: 200px;
    display: inline-block;
}

.item-attr-string-edit{
    display: inline-block;
    vertical-align: top;
    padding-left: 0px;
}

.item-attr-string-edit input{
    width: 300px;
    height: 20px;
    font-size: 14px; 
}

.button-red {
  -webkit-border-radius: 4;
  -moz-border-radius: 4;
  border-radius: 4px;
  color: #ffffff;
  font-size: 14px;
  font-weight: bold;
  background: #e73636;
  padding: 10px 10px 10px 10px;
  border: solid #c72828 1px;
  text-decoration: none;
}

.button-red:hover {
  background: #fa4d4d;
  text-decoration: none;
}

.button-light {
  -webkit-border-radius: 4;
  -moz-border-radius: 4;
  border-radius: 4px;
  font-family: Arial;
  color: #444444;
  font-size: 14px;
  background: #fafafa;
  padding: 5px 20px 5px 20px;
  border: solid #dbdbdb 1px;
  text-decoration: none;
}

.button-light:hover {
  background: #f0f0f0;
  text-decoration: none;
}

.button-save {
  background-image: url("/resourse/image/save-icon.png");
  background-repeat: no-repeat;
  background-position: 10px 7px;
  padding-left: 35px;
}

.button-save:hover {
  background-image: url("/resourse/image/save-icon.png");
  background-repeat: no-repeat;
  background-position: 10px 7px;
}

.button-cancel {
  background-image: url("/resourse/image/cancel-icon.png");
  background-repeat: no-repeat;
  background-position: 10px 1px;
  padding-left: 35px;
}

.button-cancel:hover {
  background-image: url("/resourse/image/cancel-icon.png");
  background-repeat: no-repeat;
  background-position: 10px 1px;
}

.separator {
  background-color: #dbdbdb;
  height: 1px;
  margin: 7px 0px 5px 0px;
}

.left-menu-buttons {
  position: fixed;
  margin: 5px 0px 0px 15px;
  z-index: 10;  
}

.left-menu-buttons input {
  width: 123px;
  margin-top: 5px; 
}

.dir-content {
    background: #FFF;
    margin: 10px;
    display: inline-block;
    border: solid #dbdbdb 1px;
    -webkit-border-radius: 2;
    -moz-border-radius: 2;
    border-radius: 2px;
    margin-left: 160px;
}

.button-remove-attr {
  background-image: url("/resourse/image/close-icon.png");
  background-repeat: no-repeat;
  width: 20px;
  height: 20px;
  float: right;
  margin: 3px;
}

.button-remove-attr:hover {
  background-image: url("/resourse/image/close-icon.png");
  background-repeat: no-repeat;
  background-color: #f0f0f0;
}

.dir-attr-template .item-attr{
    padding: 0px 40px 15px 20px;
}