{if $show}
<div class="header">
    <div class="header-menu">

        <ul class="menu-element menu-button select-list">
            <li><div class="menu-element-icon"></div><div class="menu-element-label">{$title}</div></li>
            <li>
                <ul>
                    {foreach $headerMenu as $value}
                        <li  onclick="javascript:goToPage('{$value['url']}');"><div>{$value['name']}</div>
                        </li>
                    {/foreach}
                </ul>
            </li>
        </ul>    

        <div class="menu-element menu-button logout-button" onclick="javascript:goToPage('/auth/logout');">
            <div class="menu-element-icon"></div>
            <div class="menu-element-label">Выход</div>
        </div>
        <div class="menu-element menu-username">
            <div class="menu-element-label">{$username}</div>
        </div>
    </div>
</div>
{/if}
