<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">

<link type="text/css" rel="stylesheet" href="/css/style.css">
<script type="text/javascript" src="/js/jshref.js"></script>
<script type="text/javascript" src="/js/jquery-2.1.1.js"></script>

{if $scripts is set}
    {foreach $scripts as $name}
        <script type="text/javascript" src="/js/{$name}"></script>
    {/foreach}
{/if}