
    <div class="item-attr">
        <div class="item-attr-label">{$description}:</div>
        <div class="item-attr-string-edit">
            <input type="text" name="{$name}" value="{if $value is set}{$value}{/if}">
        </div>
    </div>
