{if $show}
<div class="content-area">
    <form method="post" action="/directories/edit" name="form-item-list">
        <div class="left-menu-buttons">
            <div><input class="button-red directory-edit-button" type="button" value="Добавить"   
                        onclick="javascript:goToPage('/directories/add?sp={$dirSP}');"></div>
            <div><input name="button-edit" class="button-light" type="button" value="Редактировать"></div> 
            <div><input name="button-selectall" class="button-light directory-edit-button" type="button" value="Выбрать все"></div> 
            <div class="separator"></div>
            <div><input name="button-remove" class="button-light directory-edit-button" type="button" value="Удалить"></div>
            <div><input name="button-removeall" class="button-light directory-edit-button" type="button" value="Удалить все"></div> 
            <div class="separator"></div>
            <div><input name="button-cancel" class="button-light button-cancel" type="button" value="Назад" 
                            onclick="javascript:goToPage('/directories');"></div>  
        </div>
    
        <div class="dir-content">
            <table cellspacing="0" cellpadding="0" class="dir-table">
                <tr class="dir-table-header">
                    <td></td>
                    {foreach $attrs as $column}
                    {if $column['name'] != 'ID'}
                    <td>{$column['description']}</td>
                    {/if}    
                    {/foreach}
                </tr>

                {foreach $content as $row}
                <tr class="dir-table-row" >
                    <td><input type='checkbox' name="item{$row['ID']}" class="directory-item-list-row-checkbox">
                    </td>
                    {var $url = $row['Url']}
                    {unset $row['Url']}
                    {unset $row['ID']}
                    {foreach $row as $column}
                    <td onclick="javascript:goToPage('{$url}');" >{$column}</td>
                    {/foreach}
                </tr>
                {/foreach}
            </table>
        </div>
        <input type="hidden" name ="sp" value="{$dirSP}">
        <input type="hidden" name ="rmtype" value="item">
    </form>
</div>
{/if}