{if $show}
<div class="content-area">
    <form method="post" action="/directories/save" name="form-directory-add">
        <div class="left-menu-buttons">
            <div><input name="button-save" class="button-red button-save" type="button" value="Сохранить"></div>
            <div><input name="button-add-attr" class="button-light" type="button" value="Добавить"></div>
            <div><input name="button-cancel" class="button-light button-cancel" type="button" value="Отмена" 
                        onclick="javascript:goToPage('{$prevUrl}');"></div>   
        </div>

        <div class="dir-content">
            
            <div class="item-attr">
                <div class="item-attr-label">Название справочника:</div>
                <div class="item-attr-string-edit">
                    <input type="text" name="directory-name" value="{if $value is set}{$value}{/if}">
                </div>
            </div>
            
            <div class="item-attr">
                <div class="item-attr-label">№ справочника:</div>
                <div class="item-attr-string-edit">
                    <input type="text" name="directory-number" value="{if $value is set}{$value}{/if}">
                </div>
            </div>
            
            <div class="item-attr">
                <div class="separator"></div>
            </div>
            
            <div class="item-attr">
                <div class="directory-attrs">
                    
                </div>
            </div>
            
        </div>
       
    </form>
    
    
            <div id="tmp" style="display: none;">
            <div class="dir-attr-template">
                
                <div class="button-remove-attr"></div>
                
                <div class="item-attr">
                    <div class="item-attr-label">Название атрибута:</div>
                    <div class="item-attr-string-edit">
                        <input class="attr-name" type="text" name="" value="{if $value is set}{$value}{/if}">
                    </div>
                </div>
                <div class="item-attr">
                    <div class="item-attr-label">Тип:</div>
                    <div class="item-attr-string-edit">
                        <select class="attr-type" name="">
                            <option value="string-edit">Текст</option>
                            <option value="string-edit">Большой текст</option>
                            <option value="number-edit">Число</option>
                            <option value="number-edit">Атрибут справочника</option>
                        </select>
                    </div>
                </div>
                
                
                <input type="hidden" class="attr-id" name="">
            </div>
        </div>
        <div id="tmp-sep" style="display: none;">
            <div class="item-attr">
                <div class="separator"></div>
            </div>
        </div>
    
</div>
{/if}