{if $show}
<div class="content-area">
    <form method="post" action="/directories/add" name="form-directory-list">
        <div class="left-menu-buttons">
            <div><input name="button-add" class="button-red" type="button" value="Добавить"></div>
            <div><input name="button-remove" class="button-light" type="button" value="Удалить"></div>
        </div>
        
        <div class="dir-content">
            
            <table cellspacing="0" cellpadding="0" class="dir-table">
                <tr class="dir-table-header">
                    <td style="width: 20px;"></td><td>№</td><td>Наименование</td>
                </tr>
                
               {foreach $directories as $directory}
                <tr class="dir-table-row">
                    <td><input type='checkbox' name="directory{$directory['sp']}" class="directory-item-list-row-checkbox">
                    </td>
                    <td onclick="javascript:goToPage('{$directory['url']}');">{$directory['sp']}</td>
                    <td style="width: 100%;" onclick="javascript:goToPage('{$directory['url']}');">{$directory['title']}</td>
                </tr>
               {/foreach}            
                
            </table>
        </div>
        <input type="hidden" name ="rmtype" value="dir">
    </form>
</div>
{/if}