{if $show}
<div class="content-area">
    <div class="item-edit-attrs-content">
        <form method="post" action="/directories/save" name="form-item-edit">
            <div class="left-menu-buttons">
                <div><input name="button-save" class="button-red button-save" type="button" value="Сохранить"></div>
                {if $mode == "edit"}
                    <div><input name="button-remove" class="button-light" type="button" value="Удалить"></div>  
                {/if}
                <div><input name="button-cancel" class="button-light button-cancel" type="button" value="Отмена" 
                            onclick="javascript:goToPage('{$prevUrl}');"></div>   
            </div>
            <div class="dir-content">
                {$objectAttrs}
            </div>
            <input type="hidden" name ="mode" value="{$mode}">
            <input type="hidden" name ="sp" value="{$sp}">
            <input type="hidden" name ="i" value="{$i}">
            <input type="hidden" name ="rmtype" value="item">
        </form>
    </div>
</div>
{/if}